/* src/app/components/login/login.component.css */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Hace que el contenedor ocupe toda la altura de la pantalla */
    background-color: #c8e6c9; /* Cambia el color de fondo del contenedor a verde claro */
  }
  
  .login-form {
    width: 300px;
    margin-top: 20px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  button {
    margin-top: 20px;
    background-color: #4caf50; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
  }
  
  button:hover {
    background-color: #45a049; /* Cambia el color de fondo al pasar el mouse sobre el botón */
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  