<!-- src/app/components/login/login.component.html -->

<div class="login-container">
    <h2>Iniciar Sesión</h2>
    
    <div *ngIf="loginError" class="error-message">
      Credenciales incorrectas. Por favor, inténtalo de nuevo.
    </div>
  
    <form class="login-form" (submit)="login()">
      <mat-form-field>
        <label for="username">Usuario:</label>
        <input matInput type="text" id="username" name="username" [(ngModel)]="username" required>
      </mat-form-field>
  
      <mat-form-field>
        <label for="password">Contraseña:</label>
        <input matInput type="password" id="password" name="password" [(ngModel)]="password" required>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Iniciar Sesión</button>
    </form>
  </div>
  