/* src/app/components/main/main.component.css */

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .accordion-container {
    width: 300px;
    max-width: 100%;
    margin-top: 20px;
  }
  
  /* Añade estilos adicionales según sea necesario */
  