<!-- Sección de Inicio -->
<section class="inicio">
  <div class="container">
    <h2>Bienvenido a la App Web Educativa para Profesores</h2>
    <p>¡Encuentra recursos útiles para mejorar tu enseñanza!</p>
  </div>
</section>

<!-- Formulario de Selección de Usuario -->
<section class="formulario">
  <div class="container">
    <h2>Selecciona tu Tipo de Usuario</h2>
    <div class="form-group">
      <button class="btn btn-primary" (click)="showEstudiantesFormulario()">Estudiantes</button>
      <button class="btn btn-primary" (click)="showProfesoresFormulario()">Profesores</button>
    </div>
  </div>
</section>

<!-- Formulario de Estudiantes -->
<app-estudiantes-formulario *ngIf="mostrarEstudiantesFormulario"></app-estudiantes-formulario>

<!-- Formulario de Profesores -->
<app-profesores-formulario *ngIf="mostrarProfesoresFormulario"></app-profesores-formulario>

<!-- Pie de Página -->
<footer class="footer">
  <div class="container">
    <p>&copy; 2024 App Web Educativa para Profesores. Todos los derechos reservados.</p>
  </div>
</footer>
