<!-- Sección de Inicio -->
<section class="inicio">
  <div class="container">
    <h2>Bienvenido a la App Web Educativa para Profesores</h2>
    <p>¡Encuentra recursos útiles para mejorar tu enseñanza!</p>
  </div>
</section>

<!-- Sección de Cursos -->
<section class="cursos">
  <div class="container">
    <h2>OPCIÓNES</h2>
    <div class="curso-card">
      <button class="btn btn-primary" [routerLink]="['/estudiantes']">Formulario de Estudiantes</button>
      <button class="btn btn-primary" [routerLink]="['/profesores']">Formulario de Profesores</button>
    </div>
  </div>
</section>

<!-- Pie de Página -->
<footer class="footer">
  <div class="container">
    <p>&copy; 2024 App Web Educativa para Profesores. Todos los derechos reservados.</p>
  </div>
</footer>
